/*00fcdb - Teal*/
/*2b99f4 - Turquoise*/
/*20274f - Navy*/
/*e97ca1 - Pink*/
/*cda4f7 - Purple*/

html{
	background-color: #2B99F4;
	font-family: courier;
}

h1{
	margin: 40px 0 40px 60px;
	color: #00FCDB;
	font-size: 2em;
}

h2{
	color: #00FCDB;
	font-size: 1.6em;
	padding: 20px;
	font-weight: normal;
}

#content{
	text-align: center;
	background-color: #CDA4F7;
	height: 80%;
	width: 80%;
	border-radius: 0 30px;
	position: relative;
	margin: auto;
	padding: 20px;
}

	.input{
		display: flex;
		flex-direction: row;
		position: relative;
		left: 3%;
		height: 25px;
		width: 90%;
	}

		input{
			border: 1px solid black;
			border-radius: 0 10px;
			height: 85%;
			width: 250px;
			box-shadow: 5px 5px #000000;
			text-align: center;
			font-family: courier;
			font-size: 90%;
		}

		input:focus{
			outline-style: none;
			box-shadow: 5px 5px #00fcdb;
		}

		button{
			background-color: #000000;
			box-shadow: 5px 5px #FFFFFF;
			border: 1px solid black;
			border-radius: 0 10px;
			height: 100%;
			width: 150px;
			text-align: center;
			margin-left: 15px;
			color: #00FCDB;
			font-family: courier;
			font-size: 90%;
		}

		button:hover{
			box-shadow: 5px 5px #000000;
			background-color: #00FCDB;
			color: #000000;
		}

		button:focus{
			outline-style: none;
		}



	.visitor{
		border-radius: 0 30px;
		background-color: rgba(250, 250, 250, 0.8);
		width: 80%;
		height: 150px;
		position: relative;
		margin: auto;
		text-align: center;
	}

	.overlay{
		border-radius: 0 30px;
		background-color: rgba(250, 250, 250, 0.5);
		width: 100%;
		height: 100%;
	}

	.visitor p{
		font-size: 3em;
		color: #FFF;
		padding-top: 15px;
	}

	.visitor a{
		font-size: 2em;
		text-decoration: none;
		color: #000000;
		position: relative;
		bottom: 50px;
	}

	.visitor a:hover{
		color: #00fcdb;
	}



	.container{
		display: flex;
		flex-direction: row;
		height: 1200px;
	}

		.left{
			width: 30%;
			position: relative;
			left: 0;
			height: 100%;
		}

			.mismatch{
				width: 90%;
				border-radius: 0 30px;
				position: relative;
				left: 5%;
				right: 5%;
				height: 95%;
				text-align: center;
				background-color: rgba(250, 250, 250, 0.8);
			}

				.info{
					overflow-y: auto;
					height: 90%;
				}

				.info a{
					font-size: 0.7em;
					text-decoration: none;
				}

				.info a:hover{
					color: #cda4f7;
				}

				.category{
					font-size: 0.8em;
					color: #000000;
				}

		.right{
			width: 70%;
			position: relative;
			right: 0;
			height: 100%;
		}

			.list{
				text-align: center;
				width: 95%;
				border-radius: 0 30px;
				position: relative;
				left: 3%;
				text-align: center;
				background-color: rgba(250, 250, 250, 0.8);
			}

				.following, .followers{
					height: 460px;
					border-radius: 0 0 0 30px;
					overflow-y: auto;
				}

					.person{
						padding: 5px;
						display: flex;
						flex-direction: row;
						height: 100px;
						overflow: auto;
					}

					.person:hover{
						background-color: #FFFFFF;
					}

					.person img{
						height: 100%;
						display: inline-block;
					}

					.person:hover img{
						box-shadow: 3px 3px #00FCDB;
					}

					.person a{
						padding: 20px;
						text-decoration: none;
						color: #000000;
						margin: auto;
						font-size: 1.5em;
					}

					.person:hover a{
						text-decoration: none;
						color: #00FCDB;
					}


