/*00fcdb - Teal*/
/*2b99f4 - Turquoise*/
/*20274f - Navy*/
/*e97ca1 - Pink*/
/*cda4f7 - Purple*/

html{
	background-color: #2B99F4;
	font-family: courier;
}

h1{
	margin: 40px 0 40px 60px;
	color: #00FCDB;
	font-size: 2em;
}

#content, .list{
	text-align: center;
	width: 80%;
	border-radius: 0 30px;
	position: relative;
	margin: auto;
}

#content{
	text-align: center;
	background-color: #CDA4F7;
	height: 80%;
	/*width: 80%;*/
	border-radius: 0 30px;
	position: relative;
	margin: auto;
	padding: 20px;
}

.input{
	display: flex;
	flex-direction: row;
	position: relative;
	left: 3%;
	height: 20px;
	width: 90%;
	/*background-color: #000000;*/
}

input{
	/*flex: 1;*/
	border: 1px solid black;
	border-radius: 0 10px;
	height: 100%;
	width: 200px;
	box-shadow: 5px 5px #000000;
	text-align: center;
	font-family: courier;
	font-size: 90%;
}

input:focus{
	outline-style: none;
	box-shadow: 5px 5px #00fcdb;
}

.auth{
	/*flex: 1;*/
	background-color: #FFFFFF;
	box-shadow: 5px 5px #000000;
	border: 1px solid black;
	border-radius: 0 10px;
	height: 25px;
	width: 150px;
	text-align: center;
	margin-left: 15px;
	color: #20274F;
	font-family: courier;
	font-size: 90%;
}

.auth:hover{
	box-shadow: 5px 5px #FFFFFF;
	background-color: #000000;
	color: #00FCDB;
}

.auth:focus{
	outline-style: none;
}

.container{
	display: flex;
	flex-direction: row;
	height: 1200px;
}

/*h2{
	margin: 40px 0 40px 60px;
	color: #00FCDB;
}*/

.users{
	flex: 1;
	border-radius: 0 30px;
	position: relative;
	left: 3%;
	/*margin-bottom: 18px;*/
	height: 95%;
}

.photos{
	flex: 4;
	position: relative;
	right: 0;
	/*left: 3%;*/
}

.list, .users{
	text-align: center;
	background-color: rgba(250, 250, 250, 0.8);
	padding: 20px;
}

.info{
	overflow-y: auto;
	height: 90%;
}

.following, .followers{
	height: 460px;
	border-radius: 0 0 0 30px;
	overflow-y: auto;
	/*border: 1px solid black;*/
}

.person{
	padding: 5px;
	display: flex;
	flex-direction: row;
	height: 100px;
	overflow: auto;
}

.person:hover{
	background-color: #FFFFFF;
	/*border: 1px dashed #00FCDB;*/
}

.person img{
	height: 100%;
	display: inline-block;
}

.person:hover img{
	box-shadow: 3px 3px #00FCDB;
}

.person a{
	padding: 20px;
	text-decoration: none;
	color: #000000;
	margin: auto;
	font-size: 1.5em;
}

.person:hover a{
	text-decoration: none;
	color: #00FCDB;
}

p{
	color: #00FCDB;
	font-size: 1.6em;
}

ul{
	display: inline-block;
	list-style-type: none;
	overflow: hidden;
}

li{
	color: #20274F;
	padding: 10px;
	float: center;
}

.info a{
	font-size: 0.7em;
	text-decoration: none;
}

.info a:hover{
	color: #cda4f7;
}

.category{
	font-size: 0.8em;
	color: #000000;
}

