/*00fcdb - Teal*/
/*2b99f4 - Turquoise*/
/*20274f - Navy*/
/*e97ca1 - Pink*/
/*cda4f7 - Purple*/

html{
	background-color: #2B99F4;
	font-family: courier;
}

h1{
	margin: 40px 0 40px 60px;
	color: #00FCDB;
	z-index: 10;
}

h2{
	color: #00FCDB;
	font-weight: normal;
}

#content{
	text-align: center;
	background-color: #CDA4F7;
	height: 80%;
	width: 90%;
	border-radius: 0 30px;
	margin: auto;
	padding: 20px;
}

	.auth{
		height: 300px;
	}

	.auth a{
		font-size: 4em;
		text-decoration: none;
		position: relative;
		top: 30px;
		color: #FFFFFF;
	}

	.auth a:hover{
		color: #000000;
	}

	.input{
		display: flex;
		margin: auto;
		height: 25px;
		max-width: 500px;
	}

		input{
			flex: 2;
			border: 1px solid black;
			border-radius: 0 10px;
			height: 85%;
			box-shadow: 5px 5px #000000;
			text-align: center;
			font-family: courier;
			font-size: 90%;
		}

		input:focus{
			outline-style: none;
			box-shadow: 5px 5px #00fcdb;
		}

		button{
			flex: 1;
			background-color: #000000;
			box-shadow: 5px 5px #FFFFFF;
			border: 1px solid black;
			border-radius: 0 10px;
			height: 100%;
			margin-left: 10px;
			color: #00FCDB;
			font-family: courier;
			font-size: 90%;
		}

		button:hover{
			box-shadow: 5px 5px #000000;
			background-color: #00FCDB;
			color: #000000;
		}

		button:focus{
			outline-style: none;
		}



	.visitor{
		border-radius: 0 30px;
		background-color: rgba(250, 250, 250, 0.8);
		width: 80%;
		height: 150px;
		margin: auto;
	}

		.overlay{
			border-radius: 0 30px;
			background-color: rgba(250, 250, 250, 0.5);
			height: 100%;
		}

		.real{
			font-size: 3em;
			color: #FFF;
			padding-top: 15px;
		}

		.notReal{
			font-size: 2em;
			color: #2b99f4;
			position: relative;
			top: 45px;
		}

		.visitor .login a{
			font-size: 1em;
			top: 0;
		}

		.visitor a{
			font-size: 2em;
			text-decoration: none;
			color: #000000;
			position: relative;
			bottom: 40px;
		}

		.visitor a:hover{
			color: #00fcdb;
		}

	.options{
		visibility: hidden;
	}

	.container{
		height: 1200px;
	}

		.left{
			width: 48.5%;
			position: relative;
			float: left;
			top: 2%;
			height: 1150px;
			border-radius: 0 30px;
			background-color: rgba(250, 250, 250, 0.8);
		}

		.right{
			width: 48.5%;
			position: relative;
			float: right;
			top: 2%;
			height: 1150px;
			border-radius: 0 30px;
			background-color: rgba(250, 250, 250, 0.8);
		}

			.following, .followers{
				height: 90%;
				border-radius: 0 0 0 30px;
				overflow-y: auto;
				position: relative;
			}

				.person, .personMM{
					padding: 5px;
					height: 100px;
					overflow-x: auto;
					white-space: nowrap;
				}

				.personMM{
					background-color: #rgba(0, 0, 0, 0.5);
				}

				.person:hover{
					background-color: #FFFFFF;
				}

				.personMM:hover{
					background-color: #000000;
				}

				.person img, .personMM img{
					width: 100px;
					height: 100%;
					float: left;
					display: inline-block;
					margin-right: 5px;
				}

				.person:hover img, .personMM:hover img{
					box-shadow: 3px 3px #00FCDB;
				}

				.person a{
					padding-top: 35px;
					text-decoration: none;
					color: #000000;
					margin: auto;
					font-size: 1.5em;
					display: inline-block;
				}

				.personMM a{
					padding-top: 35px;
					text-decoration: none;
					color: #FFFFFF;
					margin: auto;
					font-size: 1.5em;
					display: inline-block;
				}

				.person:hover a, .personMM:hover a{
					text-decoration: none;
					color: #00FCDB;
				}

@media (max-width: 800px){
	html{
		background-color: #CDA4F7;
	}

	h1{
		position: absolute;
		top: 0;
		margin: 15px;
		padding-bottom: 20px;
	}

	#content{
		position: absolute;
		top: 0;
		left: 0;
		padding-top: 60px;
		border-radius: 0;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.auth a{
		font-size: 2em;
	}

	.input{
		flex: none;
		width: 100%;
		height: 35px;
		margin: 0;
		margin-right: auto;
		margin-left: auto;
	}

		input{
			flex: none;
			display: block;
			width: 66%;
			height: 100%;
			border-radius: 0 0 0 15px;
			box-shadow: none;
			border-bottom: 5px solid #000;
			float: left;
			box-sizing: border-box;
		}

		input:focus{
			box-shadow: none;
			border-bottom: 5px solid #00fcdb;
		}

		button{
			flex: none;
			display: block;
			width: 34%;
			height: 100%;
			border-radius: 0 15px 0 0;
			box-shadow: none;
			border-bottom: 5px solid #FFF;
			border-left: none;
			border-right: none;
			padding: 0;
			margin: 0;
			float: left;
			box-sizing: border-box;
		}

		button:hover{
			box-shadow: none;
			border-bottom: 5px solid #000;
		}

	.instruct{
		width: 80%;
		position: relative;
		padding-top: 10px;
		margin: auto;
	}

	h2{
		display: none;
	}

	.visitor{
		min-width: 100%;
		border-radius: 0;
		position: relative;
		left: 0;
		margin-top: 10px;
	}

		.overlay{
			width: 100%;
			border-radius: 0;
		}

		.real{
			font-size: 2.5em;
		}

	.options{
		visibility: visible;
		width: 100%;
		height: 35px;
		margin: auto;
		overflow: hidden;
		white-space: nowrap;
	}

		.options button{
			text-transform: uppercase;
			text-align: center;
			margin: 0;
			border-radius: 0;
			border-bottom: none;
			display: inline-block;
			height: 35px;
		}
		
		.uf{
			width: 50%;
			position: absolute;
			left: 0;
		}
		
		.ufb{
			width: 50%;
			position: absolute;
			right: 0;
		}

	.container{
		position: relative;
		left: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		background-color: rgba(250, 250, 250, 0.8);
	}

		.left{
			position: absolute;
			bottom: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: inherit;
			background-color: transparent;
		}

		.right{
			position: absolute;
			bottom: 0;
			top: 0;
			right: 0;
			width: 100%;
			height: inherit;
			background-color: transparent;
		}

			.following, .followers{
				top: 30px;
				left: 2.5%;
				right: 2.5%;
				width: 95%;
				border-radius: 0 30px;
				background-color: rgba(0, 0, 0, 0.2);
				padding-bottom: 0;
			}

			.person, .personMM{
				height: 80px;
				white-space: nowrap;
				overflow: hidden;
			}

			.person img, .personMM img{
				height: 100%;
				width: auto;
				min-width: 80px;
			}

			.person a, .personMM a{
				overflow-x: auto;
				top: 0;
				margin: auto;
				font-size: 1.5em;
			}
}


@media (max-width: 500px){
	.input{
		overflow: hidden;
		white-space: nowrap;
	}

	input{
		display: inline-block;
		border-radius: 0;
		width: 66%;
		padding: 0;
		border-bottom: 5px solid #000;
	}

	input:focus{
		border-radius: 0;
		width: 66%;
		padding: 0;
		border-bottom: 5px solid #00fcdb;
	}

	.search{
		display: inline-block;
		margin-left: 0;
		border-radius: 0;
		width: 34%;
		padding: 0;
		border-bottom: 5px solid #FFF;
	}

	.search:hover{
		border-radius: 0;
		width: 34%;
		padding: 0;
		border-bottom: 5px solid #000;
	}
}



