/*00fcdb - Teal*/
/*2b99f4 - Turquoise*/
/*20274f - Navy*/
/*e97ca1 - Pink*/
/*cda4f7 - Purple*/

html{
	background-color: #2B99F4;
	font-family: courier;
}

h1{
	margin: 40px 0 40px 60px;
	color: #00FCDB;
	z-index: 10;
}

/*.logout{
	position: absolute;
	right: 7%;
	top: 45px;
	height: 25px;
	width: 150px;
}*/

h2{
	color: #00FCDB;
	font-weight: normal;
}

#content{
	text-align: center;
	background-color: #CDA4F7;
	height: 80%;
	width: 90%;
	border-radius: 0 30px;
	margin: auto;
	padding: 20px;
}

	.auth{
		height: 300px;
	}

	.auth a{
		font-size: 4em;
		text-decoration: none;
		position: relative;
		top: 30px;
		color: #FFFFFF;
	}

	.auth a:hover{
		color: #000000;
	}

	.load{
		width: 100%;
		z-index: 2;
	}

	h3{
		position: relative;
		top: 20px;
		font-size: 2em;
		margin-bottom: 25px;
		margin-top: 0;
	}

	.loadImg{
		display: inline-block;
		background-position: center;
		background-size: 100% 100%;
		height: 200px;
		margin: auto;
		width: 22%;
	}

	.input{
		display: flex;
		margin: auto;
		height: 25px;
		max-width: 500px;
	}

		input{
			flex: 2;
			border: 1px solid black;
			border-radius: 0 10px;
			height: 85%;
			box-shadow: 5px 5px #000000;
			text-align: center;
			font-family: courier;
			font-size: 90%;
		}

		input:focus{
			outline-style: none;
			box-shadow: 5px 5px #00fcdb;
		}

		button{
			flex: 1;
			background-color: #000000;
			box-shadow: 5px 5px #FFFFFF;
			border: 1px solid black;
			border-radius: 0 10px;
			height: 100%;
			margin-left: 10px;
			color: #00FCDB;
			font-family: courier;
			font-size: 90%;
		}

		button:hover{
			box-shadow: 5px 5px #000000;
			background-color: #00FCDB;
			color: #000000;
		}

		button:focus{
			outline-style: none;
		}

	.container{
		height: 1200px;
		width: 800px;
		margin: auto;
		border-radius: 0 30px;
		background-color: rgba(250, 250, 250, 0.8);
	}

		.visitor{
			border-radius: 0 30px 0 0;
			background-color: rgba(250, 250, 250, 0.8);
			width: 100%;
			height: 150px;
			margin-bottom: 2%;
		}

			.overlay{
				position: relative;
				border-radius: 0 30px 0 0;
				background-color: rgba(250, 250, 250, 0.5);
				height: 100%;
			}

			.overlay:before {
				content: "";
				border-color: transparent transparent black transparent;
				border-style: solid;
				border-width: 18px;
				width: 0;
				height: 0;
				position: absolute;
				top: 88%;
				left: 0.3%;
			}

			.overlay:after {
				content: "";
				border-color: black transparent transparent transparent;
				border-style: solid;
				border-width: 18px;
				width: 0;
				height: 0;
				position: absolute;
				top: 100%;
				left: 4.5%;
			}

			.real{
				font-size: 3em;
				color: #FFF;
				padding-top: 15px;
			}

			.notReal{
				font-size: 2em;
				color: #2b99f4;
				position: relative;
				top: 45px;
			}

			.visitor .login a{
				font-size: 1em;
				top: 0;
			}

			.visitor a{
				font-size: 2em;
				text-decoration: none;
				color: #000000;
				position: relative;
				bottom: 40px;
			}

			.visitor a:hover{
				color: #00fcdb;
			}

		.friends{
			overflow-y: auto;
			overflow-x: hidden;
			width: 95%;
			height: 84%;
			margin: auto;
			border-radius: 0 30px;
		}

			.user{
				position: relative;
				width: 100%;
				height: 100px;
				padding: 5px;
				border-left: 2px solid black;
			}

				.followedBy{
					position: relative;
					top: 0;
					left: -10px;
					height: 100%;
					width: 10%;
					margin-top: 5px;
					background-color: transparent;
					float: left;
				}

				.followedBy:after {
					content: "";
					border-color: transparent black transparent transparent;
					border-style: solid;
					border-width: 7px;
					width: 0;
					height: 0;
					position: absolute;
					bottom: 36%;
					right: 0px;
				}

					.followedBy hr{
						border: 0;
						border-bottom: 2px solid black;
						height: 50%;
					}

				.notFollowing{
					position: absolute;
					top: -12px;
					right: 0;
					height: 100%;
					width: 50%;
					border-left: 2px dashed black;
				}

				.following{
					position: absolute;
					top: -12px;
					right: 0;
					height: 100%;
					width: 50%;
					border-left: 2px dashed black;
				}

				.following:after {
					content: "";
					border-color: transparent transparent transparent black;
					border-style: solid;
					border-width: 7px;
					width: 0;
					height: 0;
					position: absolute;
					bottom: 51%;
					right: -8px;
				}

					.following hr{
						border: 0;
						border-bottom: 2px dashed black;
						height: 35%;
					}

				.person, .personMM{
					width: 85%;
					padding: 5px;
					height: 100%;
					overflow-x: auto;
					white-space: nowrap;
				}

				.personMM{
					background-color: #rgba(0, 0, 0, 0.5);
				}

				.person:hover{
					background-color: #FFFFFF;
				}

				.personMM:hover{
					background-color: #000000;
				}

				.person img, .personMM img{
					width: 100px;
					height: 100%;
					float: left;
					display: inline-block;
					margin-right: 5px;
				}

				.person:hover img, .personMM:hover img{
					box-shadow: 3px 3px #00FCDB;
				}

				.person a{
					padding-top: 35px;
					text-decoration: none;
					color: #000000;
					margin: auto;
					font-size: 1.5em;
					display: inline-block;
				}

				.personMM a{
					padding-top: 35px;
					text-decoration: none;
					color: #FFFFFF;
					margin: auto;
					font-size: 1.5em;
					display: inline-block;
				}

				.person:hover a, .personMM:hover a{
					text-decoration: none;
					color: #00FCDB;
				}

				.block{
					position: absolute;
					bottom: 0;
					left: -5px;
					z-index: 2;
					height: 40px;
					width: 5%;
					background-color: #CDA4F7;
				}

				.blockTop{
					height: 100%;
					width: 100%;
					background-color: rgba(250, 250, 250, 0.8);
				}

				.blockTwo{
					position: absolute;
					bottom: 44%;
					left: 42%;
					z-index: 2;
					height: 22%;
					width: 20%;
					background-color: #CDA4F7;
				}

				.blockTwoTop{
					height: 100%;
					width: 100%;
					background-color: rgba(250, 250, 250, 0.8);
				}

@media (max-width: 800px){
	html{
		background-color: #CDA4F7;
	}

	h1{
		position: absolute;
		top: 0;
		margin: 15px;
		padding-bottom: 20px;
	}

	.logout{
		position: absolute;
		top: 25px;
		right: 15px;
		z-index: 2;
		box-shadow: 5px 5px #FFFFFF;
		border-bottom: none;
		border: 1px solid black;
		border-radius: 0 10px;
	}

	.logout:hover{
		box-shadow: 5px 5px #000000;
		border-bottom: none;
		border: 1px solid black;
	}

	#content{
		position: absolute;
		top: 0;
		left: 0;
		padding-top: 60px;
		border-radius: 0;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.auth a{
		font-size: 2em;
	}

	.loadImg{
		width: 28%;
	}

	.input{
		flex: none;
		width: 100%;
		height: 35px;
		margin: 0;
		margin-right: auto;
		margin-left: auto;
	}

		input{
			flex: none;
			display: block;
			width: 66%;
			height: 100%;
			border-radius: 0 0 0 15px;
			box-shadow: none;
			border-bottom: 5px solid #000;
			float: left;
			box-sizing: border-box;
		}

		input:focus{
			box-shadow: none;
			border-bottom: 5px solid #00fcdb;
		}

		button{
			flex: none;
			display: block;
			width: 34%;
			height: 100%;
			border-radius: 0 15px 0 0;
			box-shadow: none;
			border-bottom: 5px solid #FFF;
			border-left: none;
			border-right: none;
			padding: 0;
			margin: 0;
			float: left;
			box-sizing: border-box;
		}

		button:hover{
			box-shadow: none;
			border-bottom: 5px solid #000;
		}

	.instruct{
		width: 80%;
		position: relative;
		padding-top: 10px;
		margin: auto;
	}

	h2{
		display: none;
	}

	.container{
		position: relative;
		border-radius: 0 30px;
		left: 0;
		top: 0;
		bottom: 0;
		width: 500px;
		background-color: rgba(250, 250, 250, 0.8);
	}
	
		.visitor{
			min-width: 100%;
			border-radius: 0 30px 0 0;
			position: relative;
			left: 0;
		}

			.overlay{
				width: 100%;
				border-radius: 0 30px 0 0;
			}

			.overlay:before{
				border-width: 12px;
				top: 92%;
				left: 0.3%;
			}

			.overlay:after{
				border-width: 12px;
				top: 100%;
				left: 4%;
			}

			.real{
				font-size: 2.5em;
			}

		.person, .personMM{
			height: 80px;
			white-space: nowrap;
			overflow: hidden;
		}

		.person img, .personMM img{
			height: 100%;
			width: auto;
			min-width: 80px;
		}

		.person a, .personMM a{
			overflow-x: auto;
			top: 0;
			margin: auto;
			font-size: 1.5em;
		}
}


@media (max-width: 500px){
	.input{
		overflow: hidden;
		white-space: nowrap;
	}

	input{
		display: inline-block;
		border-radius: 0;
		width: 66%;
		padding: 0;
		border-bottom: 5px solid #000;
	}

	input:focus{
		border-radius: 0;
		width: 66%;
		padding: 0;
		border-bottom: 5px solid #00fcdb;
	}

	.search{
		display: inline-block;
		margin-left: 0;
		border-radius: 0;
		width: 34%;
		padding: 0;
		border-bottom: 5px solid #FFF;
	}

	.search:hover{
		border-radius: 0;
		width: 34%;
		padding: 0;
		border-bottom: 5px solid #000;
	}
	
	.container{
		position: relative;
		top: -40px;
		width: 100%;
	}
	
		.visitor{
			min-width: 100%;
			border-radius: 0;
			position: relative;
			left: 0;
		}

			.overlay{
				width: 100%;
				border-radius: 0;
			}

			.overlay:before{
				border-width: 0;
			}

			.overlay:after{
				border-width: 0;
			}
}



